/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.custom-number-input input:focus {
  outline: none !important;
}

.custom-number-input button:focus {
  outline: none !important;
}

.grid-container {
  display: grid;
  grid-template-areas: "header header";
  grid-template-columns: 50% 50%;
  padding: 5px;
}
.grid-item {
  padding: 10px;
  text-align: left;
}

#carbon-to-offset {
  grid-column-start: 1;
  font-size: 1.875rem;
  line-height: 2.5rem;
  font-weight: 800;
  border: 1;
  border-width: 1;
  box-shadow: none;
  padding: 0;
  text-align: right;
  width: 100px;
}
#carbon-to-offset::placeholder{
  color: rgb(70, 70, 70);
}
#list-payment-tokens {
  font-size: 1.875rem;
  line-height: 2.5rem;
  font-weight: 800;
  padding-left: 2px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  width: 130px;
  background-position-x: -10px;
}
